html, body {
    margin: 0;
    padding: 0;
    height: 100%;
    width: 100%;
  }
  
  .carousel-container {
    position: relative;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
  }
  
  #carousel {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
  }

  .carousel-inner {
  position: absolute; 
  bottom: 40px; 
  right: 40px; 
  width: 100px; 
  cursor: pointer; 
  z-index: 10;
  }

  #continueBtn {
    position: absolute;
    top: 0;
    left: 0;
    z-index:9;
    width:100vw;
    height:100vh
  }